tml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="common.xsd"/>

    <xs:complexType name="RadiusVector">
        <xs:sequence>
            <xs:element name="angle" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Angle
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="length" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Length
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TensionCorridor" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Tension Corridor
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TensionProfile" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Tension Profile
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Shape">
        <xs:sequence>
            <xs:element name="hasProfileAzimut" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Has Profile Azimuth
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hasProfileTilt" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Has Profile Tilt
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="profileAzimut" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Profile Azimuth
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="profileTilt" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Profile Tilt
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RadiusCollection">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Radius Collection
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RadiusVector" type="RadiusVector" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    Radius Vector
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SurveyData">
        <xs:sequence>
            <xs:element name="Azimut" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Azimuth
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClosureToID" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Closure to ID
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Color" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Color
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Comment" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Comment
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Date" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Date
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Depth" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Depth
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DepthIn" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Depth in
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Down" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Down
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Excluded" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Excluded
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Explorer" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Explorer
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FromID" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        From ID
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        ID
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inclination" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Inclination
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Latitude" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Latitude
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Left" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Left
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Length" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Length
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Locked" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Locked
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Longitude" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Longitude
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Name
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Profiletype" type="ProfileType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Profile Type
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Right" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Right
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Section" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Section
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Shape" type="Shape">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Shape
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Type" type="StationType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Type
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Up" type="xs:double">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Up
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CaveFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="caveName" type="xs:string" />
                <xs:element name="firstStartAbsoluteElevation" type="xs:double" />
                <xs:element name="geoCoding" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="ListAnnotation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SurveyData" type="SurveyData" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="unit" type="Unit" />
                <xs:element name="useMagneticAzimuth" type="xs:boolean" />
                <xs:element name="Constraints">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="constraints" type="Constraint" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoLine">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lineElements" type="LineElement" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoPage">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pageRectangles" type="PageRectangle" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoRectangle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rectangleElements" type="RectangleElement" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoSelection">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="selectionRectangleElements" type="SelectionRectangle" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoEllipse">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ellipseElements" type="EllipseElement" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoSpline">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="splineElements" type="SplineElement" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Layers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="layerList" type="Layer" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoOverlay">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="overlayElements" type="OverlayRectangle" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CartoLinkedSurface">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="linkedSurfaceElements" type="LinkedSurfaceElement" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>